section
  section
    h1 Git Flow
    pre
      code.bash.
        $ git commit -m 'Decentralized but centralized'
    small
      em='Por '
        a(href="https://nandomoreira.dev") Fernando Moreira
  section
    h4 Conteúdo
    ol
      li
        a(href="/#/1") O que é Git Flow?
      li
        a(href="/#/2") Como ele funciona?
      li
        a(href="/#/3") Branches de apoio
      li
        a(href="/#/4") Feature branches
      li
        a(href="/#/5") Release branches
      li
        a(href="/#/6") Hotfix branches
      li
        a(href="/#/7") Algumas questões...
      li
        a(href="/#/8") Ferramentas
      li
        a(href="/#/9") Links úteis
      li
        a(href="/#/10") Conclusão
