- var notes = ''

section(data-notes=notes)
  h1='Git Flow'
  //- pre
  //-   code.bash.
  //-     $ git commit -m "Descentralizado, porém centralizado"
  small
    em='Por '
      a(href="https://nandomoreira.dev") Fernando Moreira
