- var notes = ''

section(data-notes=notes)
  section
    h4 Perguntas?
    h2 Obrigado!
    p Link da talk: <a href="https://git-flow-talk.netlify.app/" target="_blank">git-flow-talk.netlify.app</a>
    p Código fonte: <a href="https://github.com/nandomoreirame/git-flow-talk" target="_blank">github.com/nandomoreirame/git-flow-talk</a>
