- var notes = ''

section(data-notes=notes)
  section
    h4 Perguntas?
    h2 Obrigado!
    p Link da talk: <a href="https://git-flow-talk.netlify.app/" target="_blank">git-flow-talk.netlify.app</a>
