- var notes = ``

section(data-notes=notes)
  section
    h2 Como ele funciona?
  section
    p O repositório possui duas <em class="highlight">branches principais</em> com uma vida útil infinita:
    ul
      li.fragment
        code='master '
        em (production)
      li.fragment
        code='develop '
        em (staging, homolog, UAT)
  section
    img(src="/img/main-branches.png" alt="")
