- var notes = 'No dia 5 de março de 2020 o próprio Vincent publicou uma nota no topo do artigo.'

section
  section
    h2 O que é o Git Flow?
    p.fragment É um modelo de fluxo de trabalho para projetos que usam Git.
    p.fragment
      | Em 2010 foi publicado um <a href="https://nvie.com/posts/a-successful-git-branching-model/" target="_blank">artigo</a> por <em class="red">Vincent Driessen</em> (há fucking 10 anos 😱).
