- var notes = ``

section(data-notes=notes)
  h2 E como funciona?
  p.fragment O repositório possui duas <em class="red">branches principais</em> com uma vida útil infinita:
  ul
    li.fragment
      code='master '
      em (production)
    li.fragment
      code='develop '
      em (staging, homologation, UAT)
