- var notes = ''

section(data-notes=notes)
  h2 E como funciona?
  h3.fragment Branches de apoio
  p.fragment
    | - Para auxiliar o desenvolvimento paralelo entre os membros da equipe usa-se as <em class="red">branches de apoio</em>;
  p.fragment
    | - Essas branches facilitam mapeamento de recursos novos, releases e correções em ambiente de produção;
  p.fragment
    | - Diferentemente das branches principais, essas branches sempre têm uma <em class="red">vida útil limitada</em>;
