- var notes = ''

section(data-notes=notes)
  section
    h2 Branches de apoio
  section
    ul
      li
        | Criadas para auxiliar o <span class="highlight">desenvolvimento paralelo</span> entre os membros do time;
      li.fragment
        | Facilitam mapeamento de <span class="highlight">novos recursos</span>, <span class="highlight">novas releases</span> e <span class="highlight">correções de bugs</span> no ambiente de produção;
      li.fragment
        | Possuem uma <span class="highlight">vida útil limitada</span>;
  section
    h4 Branches de apoio
    h2 São elas:
    ul
      li.fragment
        em Feature branches
      li.fragment
        em Release branches
      li.fragment
        em Hotfix branches
  section
    img(src="/img/support-branches.png" alt="")
