- var notes = `Cada uma tem um objetivo bem definido e está sujeita a regras ⏤ ex. Quais são as branches de origem e quais devem ser de destino.`

section(data-notes=notes)
  h2 Branches de apoio
  ul
    li.fragment
      em Feature branches
    li.fragment
      em Release branches
    li.fragment
      em Hotfix/Bugfix branches
