- var notes = 'São apenas para funcionalidades novas (features) e nada além disso, ou seja não são melhorias (improvements), não são correção de bugs (bugfixes ou hotfixes)'

section(data-notes=notes)
  h2 Branches de apoio
  p.fragment Para funcionalidades novas do sistema usamos as <em class="red"><strong>Feature branches</strong></em>.
