- var notes = 'São apenas para funcionalidades novas (features) e nada além disso, ou seja não são melhorias (improvements), não são correção de bugs (bugfixes ou hotfixes)'

section(data-notes=notes)
  h2 Feature branches
  //- p.fragment Para funcionalidades novas do sistema usamos as <em class="red"><strong>Feature branches</strong></em>.
  ol
    li.fragment Branch de origem: <code class="fragment">develop</code>
    li.fragment Branch de destino: <code class="fragment">develop</code>
    li.fragment Nomes sigeridos: <span  class="fragment">qualquer coisa, exceto <code>master</code>, <code>develop</code>, <code>release/*</code> (ou <code>release-*</code>), <code>hotfix/*</code> (ou <code>hotfix-*</code>)</span>
      ul
        li.fragment Sugestão: nome/titulo ou ID da tarefa que o dev pegou pra resolver (F)
        li.fragment Sugestão: n nome pode ter o prefixo <code>feature/task-title</code> ou <code>feature-task-title</code> (F)
