- var notes = 'São apenas para funcionalidades novas (features) e nada além disso, ou seja não são melhorias (improvements), não são correção de bugs (bugfixes ou hotfixes)'

section(data-notes=notes)
  section
    h4 Branches de apoio
    h2 Feature branches
  section
    p Para funcionalidades novas do sistema usamos as <em class="highlight"><strong>Feature branches</strong></em>.
  section
    ol
      li.fragment Branch de origem: <code>develop</code>
      li.fragment Branch de destino: <code>develop</code>
      li.fragment Nomes sugeridos (convenção): qualquer coisa, exceto <code>master</code>, <code>develop</code>, <code>release/*</code> (ou <code>release-*</code>), <code>hotfix/*</code> (ou <code>hotfix-*</code>)
  section
    img(src="/img/feature-banches.png" alt="")
  section
    h4 Feature branches
    h2 Algumas sugestões
    ul
      li.fragment o pode ser titulo ou ID da tarefa;
      li.fragment o nome pode ter o prefixo <code>feature</code>. Exemplo: <code>feature/make-todo-item</code> ou <code>feature-make-todo-item</code>;

