- var notes = ''

section(data-notes=notes)
  section
    h2 Ferramentas
  section
    ul
      li git-flow (AVH Edition) - <small><a href="https://github.com/petervanderdoes/gitflow-avh" target="_blank">https://github.com/petervanderdoes/gitflow-avh</a></small>
      li Atlassian Sourcetree App - <small><a href="https://www.sourcetreeapp.com/" target="_blank">https://www.sourcetreeapp.com</a></small>
      li gitflow4code - <small><a href="https://github.com/shaggy13spe/gitflow4code/" target="_blank">https://github.com/shaggy13spe/gitflow4code</a></small>
      li vscode-git-flow - <small><a href="https://github.com/PsykoSoldi3r/vscode-git-flow" target="_blank">https://github.com/PsykoSoldi3r/vscode-git-flow</a></small>
