- var notes = ''

section(data-notes=notes)
  section
    h2 Links úteis
  section
    ul
      li A successful Git branching model - <a target="_blank" href="https://nvie.com/posts/a-successful-git-branching-model/"><small>https://nvie.com/posts/a-successful-git-branching-model</small></a>
      li Cheatsheet do git-flow - <a target="_blank" href="https://danielkummer.github.io/git-flow-cheatsheet/index.pt_BR.html"><small>https://danielkummer.github.io/git-flow-cheatsheet</small></a>
      li Gitflow Workflow - <a target="_blank" href="https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow"><small>https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow</small></a>
      li Gitflow Workflow (br) - <a target="_blank" href="https://www.atlassian.com/br/git/tutorials/comparing-workflows/gitflow-workflow"><small>https://www.atlassian.com/br/git/tutorials/comparing-workflows/gitflow-workflow</small></a>
