doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/1-git-flow
        include ../slides/2-o-que-e
        include ../slides/3-0-como-funciona
        include ../slides/3-1-como-funciona
        include ../slides/4-0-branches–de-apoio
        include ../slides/4-1-feature-branches
    include inc/scripts
