doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/0-git-flow
        include ../slides/1-o-que-e
        include ../slides/2-como-funciona
        include ../slides/3-branches–de-apoio
        include ../slides/4-feature-branches
        include ../slides/5-release-branches
        include ../slides/6-hotfix-branches
        include ../slides/7-questions
        include ../slides/8-tools
        include ../slides/9-links
        include ../slides/10-concluding
        include ../slides/11-end
    include inc/scripts
