head
  meta(charset="UTF-8")
  title Git Flow - por Fernando Moreira
  meta(name="description" content="Git Flow é um modelo de fluxo de trabalho para projetos que usam Git.")
  meta(name="author" content="Fernando Moreira")
  meta(property="og:type" content="website")
  meta(property="og:image" content="/img/git-flow.png")
  meta(property="og:description" content="Git Flow é um modelo de fluxo de trabalho para projetos que usam Git.")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="/css/main.css")
  link(rel="stylesheet", type="text/css", href="/css/theme.css")
