/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"

/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/atelier-cave-dark"

body,
html,
.reveal,
.reveal section
  font-family -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji
  font-weight 500

.reveal
  section
    strong
      font-weight 800

    h1, h2, h3
      color #d2d46f

    .small-size
      width: 60%

    code,
    pre
      font-family Inconsolata, Monaco, Menlo, Consolas, "Courier New", monospace

    p code,
    code
      background-color rgba(#fff, .15)
      color rgba(#fff, .85)
      border none
      border-radius 3px;
      font-size 80%
      padding 2px 6px
      display inline-block

    small
      vertical-align: middle;
      font-size 60%

    img
      max-height 620px

  .highlight
    color #d2d46f
    display inline-block
    position relative
    &::after
      content: ''
      background-color #d2d46f
      position absolute
      bottom 0
      display block
      width 100%
      height 2px

  .rotate
    transform rotate(180deg)
